@import "theme.css";
.info-panel {
	position: absolute;
	width: 250px;
}

.config-panel {
	margin-left: 255px;
	min-width: 900px;
}

.info-item {
	margin: 20px;
	padding: 15px;
	background-color: var(--panel2);
	border: solid 1px var(--border2);
}

.info-item div {
	overflow: hidden;
	text-overflow: ellipsis;
}

.item-title {
	font-weight: bold;
	font-size: 18px;
	padding-bottom: 10px;
}

/* 单个文件配置面板 */

.doc-config {
	background-color: var(--panel3);
	margin: 20px 0px;
	padding: 20px 10px;
	border: solid 1px var(--border2);
	border-radius: 25px;
}

/* tab选项卡 */

.menu {
	list-style: none;
	padding: 0px 20px;
	margin: 0px;
	border-top: 1px solid var(--border2);
	border-bottom: 1px solid var(--border2);
}

.menu-item {
	display: inline-block;
	cursor: pointer;
	padding: 10px 35px;
	margin: 0px 5px;
}

.menu-item-cur {
	background: var(--panel1);
}

.menu-item:hover {
	background-color: var(--hover2);
}

.tab-panel {
	padding: 20px 0px;
}



.btn {
	padding: 8px 15px;
	border: solid 1px var(--border2);
	margin: 10px;
	background-color: var(--panel1);
	border-radius: 10px;
	cursor: pointer;
}

.btn:hover {
	background-color: var(--hover2);
}

/* 表格 */
.table-editor {
	width: 100%;
	text-align: left;
	border: 1px solid var(--tbBorder);
	color: var(--tbColor);
}

.table-editor thead {
	background-color: var(--tbTh);
}

.table-editor td,
.table-editor th {
	border: 1px solid var(--tbBorder);
	padding: 10px 15px;
}

.table-editor tbody tr {
	cursor: pointer;
}

.table-editor tbody tr:hover {
	background-color: var(--tbHover);
}

/* 弹框 */

.dlgbg {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #a9aaaa80;
}

.dlg-panel {
	position: relative;
	background-color: #f8f6f688;
	width: 600px;
	height: 300px;
	border: solid 1px var(--border1);
	border-radius: 10px;
	margin: 100px auto;
}

.dlg-content {
	margin: 30px;
}

.dlg-foot {
	position: absolute;
	text-align: center;
	width: 100%;
	bottom: 50px;
}

.ct-line {
	margin: 20px 0;
	height: 30px;
	text-align: center;
}

.ct-line label{
	width: 30%;
	height: 100%;
	font-weight: bold;
}
.ct-line input{
	margin-left: 10px;
	width: 60%;
	height: 90%;
	border-radius: 5px;
}

