@import "theme.css";
.item-table {
	width: 100%;
	display: table;
}

.item-title {
	display: table-cell;
	width: 20%;
	text-align: center;
	vertical-align: middle;
	color: var(--wordColor);
	background-color: var(--panel1);
	border: solid 1px var(--border1);
}

.item-default {
	display: table-cell;
	width: 20%;
	text-align: center;
	vertical-align: middle;
	border: solid 1px var(--border1);
	border-radius: 25px;
	margin: 10px;
	float: left;
	cursor: pointer;
}

.item-default:hover {
	background-color: var(--hover1);
}